body {
    font-size: 40px;
}

ul, ol {
    padding: 0%;/*seta p espaço de começo de lçinha para 0*/
}
li {
    margin-left: 60px;
}

.tag {
    border: solid 4px;/*da borda ao bloco do html*/
    margin: 5px;/*espaço de um bloco para o outro*/
}

.tag label {
    color: #fff;
    font-size: 25px;
    vertical-align: top;
    margin-right: 10px;
    padding: 0px 5px 3px 3px;
}